{% extends "base.html" %}
{% block title %}Detalles Juegos - MSX{% endblock %}
{% block contenido %}
    <h1>Mas sobre: {{juego.nombre}}</h1>
    <ul>
        <li>Id: {{juego.id}}</li>
        <li>Nombre: {{juego.nombre}}</li>
        <li>Sistema: {{juego.sistema}}</li>
        <li>Distribuidor: {{juego.distribuidor}}</li>
        <li>Desarrollador: {{juego.desarrollador}}</li>
        <li>Categoria: {{juego.categoria}}</li>
        <li>Año: {{juego.año}}</li>
    </ul>
<a href="/juegos">Haz click aquí para regresar a la página /juegos</a>
{% endblock %}