{% extends "base.html" %}
{% block title %}Juegos - MSX{% endblock %}
{% block contenido %}
    <h1>Juegos - MSX</h1><br>
    <h4>Buscador de juegos de MSX: </h4>
    <form method="post" action="/juegos">
        <input type="text" name="nombre" placeholder="Nombre del juego" value="{{nom_juego}}"/>
        <select name="categorias">
            {% for categoria in l_categorias -%}
                {% if categoria == categorias -%}
                    <option value="{{categoria}}" selected="selected">{{categoria}}</option>                
                {% else -%}
                    <option value="{{categoria}}">{{categoria}}</option>            
                {% endif -%}
            {% endfor -%}
        </select>
        <input type="submit" value="Buscar juego" />
    </form>  
    {% if l_nombres -%}
        <h1>Busqueda de juegos MSX</h1>
        <table>
            <tr>
                <th>Nombre del juego</th>
                <th>Desarrollador del juego</th>
                <th>Detalles del juego</th>
            </tr>
            <tr>
                <th>
                {% for juego in l_nombres -%}
                    <p>{{juego}}</p>
                {% endfor -%}
                </th>
                <th>
                {% for desarrollador in l_desarrolladores -%}
                    <p>{{desarrollador}}</p>
                {% endfor -%}
                </th>
                <th>
                {% for id in l_identificadores -%}
                    <a href="/juego/{{id}}"><p>Detalles</p></a>
                {% endfor -%}
                </th>
            </tr>
        </table>
    {% endif -%}
{% endblock %}